body {
    background-color: pink; 
    color: #cfe8e6;
    font-size: 30px;
    font-family: Helvetica, arial, sans-serif;
}

a {
    color: yellow;
    text-decoration:none;
}
.top { 
    width: 200px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top:400px;
    left:20px;
     transform: rotate(5deg);
}
    

}