html { 
  background: url(extreameslope.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  min-width:100%;
  min-height:100%;
}

body {
    height:0;
}

#button {
  height:500px;
  width:1400px;
  position:absolute;
  background-color:transparent;
  
}

#message {
  font-size:930%;
  font-family:helvetica;
  display:none;
  color: red;
}
