html { 
  background: url(intermediate.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
  min-width:100%;
  min-height:100%;
}

body {
    height: 0px;
}

.goggles {
  left:18%;
  top:20%;
  position:absolute;
  opacity:0.9;
  display:none;
}

.gogglesbutton {
  position:absolute;
}

