html { 
  background: url(lodgecoco.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
}

.button {
    width:1000px;
    height:1000px;
    background-color:transparent;
    position:absolute;
    left:300px;
    
}

.marshmellows {
    position:absolute;
    display:none;
    left:171px;
    top:90px;
}